-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."SessionStatus" AS ENUM ('STARTED', 'AWAITING_REFLECTION', 'COMPLETED', 'NOT_COMPLETED', 'ABANDONED');

-- CreateTable
CREATE TABLE "public"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "image" TEXT,
    "emailVerified" TIMESTAMP(3),
    "password" TEXT,
    "role" TEXT NOT NULL DEFAULT 'user',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."accounts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."verification_tokens" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "verification_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_profiles" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "age" INTEGER NOT NULL,
    "gender" TEXT NOT NULL,
    "nationality" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."questionnaires" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "experienceLevel" INTEGER,
    "mainGoals" TEXT[],
    "ageRange" TEXT,
    "location" TEXT,
    "occupation" TEXT,
    "educationLevel" TEXT,
    "meditationBackground" TEXT,
    "sleepPattern" INTEGER,
    "physicalActivity" TEXT,
    "stressTrigers" TEXT[],
    "dailyRoutine" TEXT,
    "dietPattern" TEXT,
    "screenTime" TEXT,
    "socialConnections" TEXT,
    "workLifeBalance" TEXT,
    "emotionalAwareness" INTEGER,
    "stressResponse" TEXT,
    "decisionMaking" TEXT,
    "selfReflection" TEXT,
    "thoughtPatterns" TEXT,
    "mindfulnessInDailyLife" TEXT,
    "mindfulnessExperience" INTEGER,
    "meditationBackgroundDetail" TEXT,
    "practiceGoals" TEXT,
    "preferredDuration" TEXT,
    "biggestChallenges" TEXT,
    "motivation" TEXT,
    "isCompleted" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "questionnaires_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."self_assessments" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "foodTaste" TEXT NOT NULL,
    "scentsAromas" TEXT NOT NULL,
    "soundsMusic" TEXT NOT NULL,
    "visualBeauty" TEXT NOT NULL,
    "touchTextures" TEXT NOT NULL,
    "thoughtsImages" TEXT NOT NULL,
    "totalScore" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "self_assessments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."stages" (
    "id" TEXT NOT NULL,
    "stageNumber" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "minSessions" INTEGER NOT NULL,
    "minHours" DECIMAL(5,2) NOT NULL,
    "sessionType" TEXT NOT NULL,
    "hasSubStages" BOOLEAN NOT NULL DEFAULT false,
    "subStages" JSONB,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user_stage_progress" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "stageId" TEXT NOT NULL,
    "stageNumber" INTEGER NOT NULL,
    "subStage" TEXT,
    "sessionsCompleted" INTEGER NOT NULL DEFAULT 0,
    "hoursCompleted" DECIMAL(5,2) NOT NULL DEFAULT 0,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_stage_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."sessions" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "stageId" TEXT NOT NULL,
    "stageNumber" INTEGER NOT NULL,
    "subStage" TEXT,
    "sessionType" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "status" "public"."SessionStatus" NOT NULL DEFAULT 'STARTED',
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "qualityRating" INTEGER,
    "insights" TEXT,
    "posture" TEXT,
    "meditationBells" BOOLEAN NOT NULL DEFAULT true,
    "voiceCommands" BOOLEAN NOT NULL DEFAULT true,
    "useRemote" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."session_challenges" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "mindWandering" BOOLEAN NOT NULL DEFAULT false,
    "physicalDiscomfort" BOOLEAN NOT NULL DEFAULT false,
    "sleepiness" BOOLEAN NOT NULL DEFAULT false,
    "restlessness" BOOLEAN NOT NULL DEFAULT false,
    "strongEmotions" BOOLEAN NOT NULL DEFAULT false,
    "externalDistractions" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "session_challenges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pahm_sessions" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "stageNumber" INTEGER NOT NULL,
    "exerciseType" TEXT,
    "regretClicks" INTEGER NOT NULL DEFAULT 0,
    "pastClicks" INTEGER NOT NULL DEFAULT 0,
    "nostalgiaClicks" INTEGER NOT NULL DEFAULT 0,
    "dislikesClicks" INTEGER NOT NULL DEFAULT 0,
    "presentClicks" INTEGER NOT NULL DEFAULT 0,
    "likesClicks" INTEGER NOT NULL DEFAULT 0,
    "worryClicks" INTEGER NOT NULL DEFAULT 0,
    "futureClicks" INTEGER NOT NULL DEFAULT 0,
    "anticipationClicks" INTEGER NOT NULL DEFAULT 0,
    "totalClicks" INTEGER NOT NULL DEFAULT 0,
    "clickTimestamps" JSONB NOT NULL,
    "patternNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pahm_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."daily_notes" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "moodRating" INTEGER,
    "emotion" TEXT,
    "intensity" INTEGER,
    "context" TEXT,
    "trigger" TEXT,
    "notes" TEXT,
    "emotions" JSONB,
    "triggers" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "daily_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."happiness_scores" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "currentStateScore" DECIMAL(5,2) NOT NULL,
    "attachmentScore" DECIMAL(5,2) NOT NULL,
    "pahmScore" DECIMAL(5,2) NOT NULL,
    "emotionalStabilityScore" DECIMAL(5,2) NOT NULL,
    "mindRecoveryScore" DECIMAL(5,2) NOT NULL,
    "emotionalRegulationScore" DECIMAL(5,2) NOT NULL,
    "practiceConsistencyScore" DECIMAL(5,2) NOT NULL,
    "socialConnectionScore" DECIMAL(5,2) NOT NULL,
    "finalScore" DECIMAL(5,2) NOT NULL,
    "userLevel" TEXT NOT NULL,
    "questionnaireBased" BOOLEAN NOT NULL DEFAULT false,
    "selfAssessmentBased" BOOLEAN NOT NULL DEFAULT false,
    "practiceEnhanced" BOOLEAN NOT NULL DEFAULT false,
    "calculatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "happiness_scores_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."mind_recovery_exercises" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "bestTime" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mind_recovery_exercises_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON "public"."accounts"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_token_key" ON "public"."verification_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_identifier_token_key" ON "public"."verification_tokens"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "user_profiles_userId_key" ON "public"."user_profiles"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "questionnaires_userId_key" ON "public"."questionnaires"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "self_assessments_userId_type_key" ON "public"."self_assessments"("userId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "stages_stageNumber_key" ON "public"."stages"("stageNumber");

-- CreateIndex
CREATE UNIQUE INDEX "user_stage_progress_userId_stageId_subStage_key" ON "public"."user_stage_progress"("userId", "stageId", "subStage");

-- CreateIndex
CREATE UNIQUE INDEX "session_challenges_sessionId_key" ON "public"."session_challenges"("sessionId");

-- CreateIndex
CREATE UNIQUE INDEX "pahm_sessions_sessionId_key" ON "public"."pahm_sessions"("sessionId");

-- AddForeignKey
ALTER TABLE "public"."accounts" ADD CONSTRAINT "accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_profiles" ADD CONSTRAINT "user_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."questionnaires" ADD CONSTRAINT "questionnaires_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."self_assessments" ADD CONSTRAINT "self_assessments_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_stage_progress" ADD CONSTRAINT "user_stage_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."user_stage_progress" ADD CONSTRAINT "user_stage_progress_stageId_fkey" FOREIGN KEY ("stageId") REFERENCES "public"."stages"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sessions" ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."sessions" ADD CONSTRAINT "sessions_stageId_fkey" FOREIGN KEY ("stageId") REFERENCES "public"."stages"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."session_challenges" ADD CONSTRAINT "session_challenges_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "public"."sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pahm_sessions" ADD CONSTRAINT "pahm_sessions_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "public"."sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."pahm_sessions" ADD CONSTRAINT "pahm_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."daily_notes" ADD CONSTRAINT "daily_notes_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."happiness_scores" ADD CONSTRAINT "happiness_scores_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

